#name_game{
	font-size: 70px;
	margin-left: 60px;
	font-family: 'Impact';
	margin-top: -65px;
	color:SaddleBrown ;
	
}

body{
	background:Moccasin ;
	background-image: url(http://1.bp.blogspot.com/-wN5x9uAtvME/TnPmVZ7lc1I/AAAAAAAAAr0/6HQ6mglR4zE/s1600/tumbleweed%252C+bola+rodante%252C+desierto%252C+sorrasca%252C+aulaga.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: cover;
    background-size: cover;
 	background-size: cover;
    background-size: cover;
}

}

#main_image{
	width: 100%;
}

footer{
	background: SaddleBrown ;
	color:Moccasin ;
	margin-top:100px;
	margin-bottom: -30px;
	margin-left: -5px;
}

#created_by{
	margin-left: 500px;
}

article{
 	margin-top: -20px;
}

.letters-box{
	margin-left: 50px;
	margin-top: 50px;
}

#clue{
	font-size:20px;
	margin-left:50px;
	color: white ;
	font-family: 'Impact';
}
