<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="ahorcado3.css">

        <title></title>
    </head>

    <body>
    <header>
    <img id="main_image" src="http://www.ranchopalosblancos.com/images/cuerda.png">
    <p id="name_game">AHORCADO</p>
  </header>

  <article>
    <a href="instrucc.html">Instrucciones</a>


    <p id="clue">Pista: @clue </p>

    <p id="clue">Palabra: @letras adivinadas </p>

    <p id="clue">Letras incorrectas: @incorrectas </p>

    <p id="clue">Vidas: * * * * * </p>



    <div class="letters-box">
           <strong> 
           <textarea name="words" rows="2" cols="30">Escribe aquí la letra o la solución</textarea>
           <button type="submit">Resolver</button>
           <button type="submit">Enviar</button>
       </div>

  </article>


     <footer>
      
      <br>
      <p id="created_by">Alejo, Fran, David & Elena</p>
    </footer>
    <script type="text/javascript" src=""></script>


    
    </body>
</html>
