<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="ahorcado.css">

        <title></title>
    </head>

    <body>
    	<span>Voy a pensar una palabra y tratarás de adivinar sugiriendo letras. Si la letra sugerida no se encuentra en la palabra, se añade una raya al dibujo del ahorcado.
		El juego termina cuando:
		<p>* Adivinas la palabra.</p>
		<p>* Acabo de dibujar al hombre ahorcado.</p></span>

	<footer>
    	
    	<br>
    	<p id="created_by">Made by Alejo, Fran, David & Elena</p>
    </footer>
    <script type="text/javascript" src=""></script>
    </body>
</html>
